.section-title {
  margin: 0;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: $text-color;
  text-align: left;

  @include on-tablet {
    font-size: 40px;
    margin-bottom: 56px;
  }

  @include on-desktop {
    font-size: 48px;
  }

  &__image {
    position: sticky;
    background-image: url(../images/about-us-img-tablet.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }
  }
}
