$text-color: #292929;
$main-backgrond-color: #e5e6e8;
$white-color: #fff;
$hover-background-color: #f8f8fa;
$hover-border-button: #f0f1f4;
$active-background-button: #111;
$text-contacts: #7e7e83;
$text-color-contacts: #191919;
$content-title-color: #9393a3;
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$duration: 0.3s;
$scale: scale(1.1);
$contetn-font: 'Space Mono', sans-serif;
$main-font: 'Space Grotesk', sans-serif;
$hover-phone-number-font: Inter, sans-serif;
